# intelliJ-specific (from https://github.com/github/gitignore/blob/main/Global/JetBrains.gitignore)
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf
.idea/**/aws.xml
.idea/**/contentModel.xml

# repo-specific
source_code/out/

# java-specific
*.class

# general
*.bak

